<h1>Listado de heroes</h1>

<!-- importante este *ngIf else utilizando una referecia con en ng-template -->
<div *ngIf="elementoBorrado; else referenciaDeBorrado" >
    <h3>Heroe borrado <small class="text-danger">{{elementoBorrado}}</small></h3>
</div>
<ng-template #referenciaDeBorrado>
    <h3>No ha borrado nada</h3>
</ng-template>


<button *ngIf="this.heroesName.length > 0" (click)="removeLastHeroe()" class="btn btn-outline-danger">Delete last heroe</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroesName" class="list-group-item">{{name}} </li>
</ul>